*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body{
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
    margin: 0;
}

.sidebar{
    background-color:   rgb(25, 146, 212);
    display: grid;
    grid-template-rows: 1.2fr 6fr 3fr 6fr;
    gap: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    color: white;
    font-size: 20px;
}

.sidebar .title{
    display: grid;
    align-self: start;
    grid-auto-flow: column;
    align-items: center;
    font-size: 30px;
    justify-self: start;
    align-self: center;
}

.title > img{
    width: 50px;
}

.subsection{
    padding-left: 15px;
}

.subsection.first{
    display: grid;
    grid-template-rows: repeat(6,1fr);
    align-items: center;
}
.subsection.second{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    align-items: center;
}
.subsection div{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 40px min-content;
}

.subsection img{
    width: 25px;
}

svg{
    fill: white;
}

.main{
    display: grid;
    grid-template-rows: 1fr 4.5fr;
}

.header{
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    padding: 1% 3%;
    padding-bottom: 0.5%;
    gap: 10%;
    z-index: 1;
    box-shadow: 3px 0 10px rgb(0 0 0 / 0.3);
}

.top{
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    align-items: center;
}

.top > div:first-child{
    display: grid;
    grid-auto-flow: column;
    justify-items: start;
    grid-template-columns: 50px auto;
    height: 100%;
    align-items: center;
}
.top input{
    height: 70%;
    width: 70%;
    border-radius: 30px;
    background-color: rgb(226, 232, 240);
    border: none;
    padding: 5px 20px;
    font-size: 20px;
    font-weight: 400;
}

input:focus, input:focus-visible{
    outline: 1px solid black;
    background-color: white;
}

.top > div:last-child{
    display: grid;
    height: 100%;
    align-items: center;
    grid-auto-flow: column;
    gap: 25px;
    grid-template-columns: 30px 50px auto;
}

.top .pfp{
    width: 50px;
}

.bottom{
    display: grid;
    grid-template-columns: 1.5fr max-content;
}

.greeting{
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-template-columns: 90px auto;
    gap: 15px;
    padding-right: 20px;
    min-width: 350px;
}

.greeting div{
    display: grid;
}

.greeting .pfp{
    width: 80px;
}

.greeting p{
    margin: 0;
}
.greeting p:last-child{
    font-size: 30px;
}

.bottom > div:last-child{
    min-width: max-content;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    gap: 20px;
    grid-template-columns: repeat(3,120px);
    justify-content: center;
}

button{
    background-color:   rgb(25, 146, 212);
    border: none;
    color: white;
    padding: 15px 40px;
    border-radius: 30px;
    font-size: 15px;
}

.content{
    display: grid;
    padding-left: 1.5%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 4%;
    grid-template-columns: 3fr 1fr;
    gap:1.5%;
    background-color: rgb(226, 232, 240);
}

.projects{
    display: grid;
    grid-template-rows: min-content auto;
    gap: 10px;
}

.projects > .title{
    font-size: 20px;
    height: min-content;
}

.projects > .cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(395px,1fr));
    gap: 30px;
}

.projects .card{
    display: grid;
    grid-template-rows: min-content min-content auto;
    gap: 10px;
    min-height: 210px;
    background-color: white;
    border-left: 8px solid rgb(240, 180, 41);
    border-radius: 7px;
    padding: 20px;
    box-shadow: 3px 3px 5px rgb(0 0 0 / 0.1);
}

.projects .title{
    font-size: 20px;
}

.projects .desc{
    color: rgb(99, 99, 99);
    font-weight: 400;
}

.options{
    display: grid;
    grid-template-columns: 40px 40px 40px;
    gap: 10px;
    justify-content: end;
    justify-items: center;
    align-items: center;
}
.card img{
    width: 30px;
}


.header img{
    width: 25px;
}

.right{
    display: grid;
    grid-template-rows: 1.1fr 1fr;
    gap: 20px;
}

.center{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
}